body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Headings */
h3 {
    font-size: 20px;
    font-weight: 500;
}

nav {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #fae1b3;
    height: 50px;
    padding: 15px 80px;
}

#navbarlogo {
    width: 50px;
    height: auto;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li {
    font-size: 16px;
    font-weight: 400;
    margin: 0px 15px;
    cursor: pointer;
    padding: 8px 15px;
    
}

li:hover {
    background-color: #fcb32d;
    border-radius: 5px;
}

#buttonnav {
    background-color: #fcb32d;
    border: 1px solid gray;
}

#cookie {
    width: 130px;
    height: auto;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fcb32d;
}

#production {
    background-color: #fae1b3;
    padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
}

#cookiecounter {
    background-color: #fae1b3;
    padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
}

button {
    font-size: 12px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
}

button:hover {
    background-color: #ffc880;
    cursor: pointer;
}

#imagebuttons {
    margin-top: 10px;
}

#textinfo {
    font-size: 11px;
    text-align: center;
}

#inputcontainer {
    display: flex;
    flex-direction: row;
}

.inputfield {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
}

.labelsimulator {
    font-size: 10px;
    margin: 5px 0px 2px 0px;
    color: #1e1e1e;
}

.inputsimulator {
    border: 1px solid gray;
    border-radius: 3px;
    width: 100px;
    height: 60px;
    font-size: 40px;
    text-align: center;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input:focus::placeholder {
    color: transparent;
}

input:focus {
    outline: none;
}

#result {
    font-size: 20px;
    margin: 20px 0px 0px 0px;
}

#newsletterform {
    display: flex;
    flex-direction: column;
}

.formfield {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.formfieldcolumn {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.labelwidth {
    width: 80px;
}

.radiobuttonsdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#femalelabel {
    margin-left: 10px;
}


/* Login page */

#login {
    background: rgb(244,255,184);
    background: linear-gradient(90deg, rgba(244,255,184,1) 0%, rgba(255,206,109,1) 31%, rgba(255,211,0,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

#loginbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 400px;
    height: auto;
    background-color: #fdf6e9;
    border-radius: 8px;
}

.label-login {
    margin-bottom: 3px;
    font-size: 10px;
    color: #2f2f2f;
}

.inputlogin {
    width: 400px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 15px;
    padding: 5px 10px;
}

#password-login {
    width: 360px;
    height: 30px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 2px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#passwordfield {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 420px;
    border: 1px solid gray;
    margin-top: 10px;
    border-radius: 3px;
    background-color: #fff;
}

#eyeicon {
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.buttonlogin {
    width: 100%;
    height: 35px;
    font-weight: 600;
    background-color: #fcb32d;
    color: #181818;
    padding: 5px 23px;
    border-radius: 3px;
    margin-top: 10px;
}

.plogin {
    font-size: 11px;
    color: #5c5b5b;
    cursor: pointer;
    margin-top: 5px;
}

.plogin:hover {
    color: #1e1e1e;
}

#register-text {
    font-size: 11px;
    color: #5c5b5b;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
}


/* Register page */

#register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    background: rgb(244,255,184);
    background: linear-gradient(90deg, rgba(244,255,184,1) 0%, rgba(255,206,109,1) 31%, rgba(255,211,0,1) 100%);
}

#registerbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 400px;
    height: auto;
    background-color: #fdf6e9;
    border-radius: 8px;
}

.inputregister {
    width: 400px;
    height: 30px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#btnregister {
    width: 100%;
    height: 35px;
    font-weight: 600;
    background-color: #fcb32d;
    color: #181818;
    padding: 5px 23px;
    border-radius: 3px;
    margin-top: 10px;
}